{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "mealApp/src",
          "components": "mealApp/src/components",
          "screens": "mealApp/src/screens"
        }
      }
    ]
  ]
}
